# Ease config
alias zshconfig="code ~/.zshrc"

# Git
alias gstat="git status"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Shrug
alias shrug="echo -n '¯\_(ツ)_/¯' | pbcopy"

# Get n-th column
# https://stackoverflow.com/questions/7315587/bash-shortest-way-to-get-n-th-column-of-output
alias c1="awk '{print \$1}'"
alias c2="awk '{print \$2}'"
alias c3="awk '{print \$3}'"
alias c4="awk '{print \$4}'"
alias c5="awk '{print \$5}'"
alias c6="awk '{print \$6}'"
alias c7="awk '{print \$7}'"
alias c8="awk '{print \$8}'"
alias c9="awk '{print \$9}'"
